<template name="MatchDetail">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="mb-4">Detail of Match {{matchId}}</h1>
            </div>
        </div>
        <div class="row">
            <div class="card col-12 pl-0 pr-0">
                <div class="card-header text-center">
                    Group Stage - Group A - Matchday 1 of 3
                </div>
                <div class="card-body">
                    <div class="row justify-content-center">
                        <div>
                            <img src="/img/flags/lg/mx.png" class="img-responsive mr-1 sm-flag" alt="">
                            <span class="match-nation-lg">Mexico</span>
                            <span class="ml-5 mr-5 text-secondary match-nation-lg">vs</span>
                            <img src="/img/flags/lg/de.png" class="img-responsive mr-1 sm-flag" alt="">
                            <span class="match-nation-lg">Germany</span>
                        </div>
                    </div>
                    <p class="text-secondary text-center mt-4">Ekaterinburg Arena</p>
                </div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="card col-12 pl-0 pr-0">
                <div class="card-body">
                    <h5 class="card-title text-center mt-2">Win Probability</h5>
                    <div class="row justify-content-center">
                        <div class="col text-center">
                            <p>Mexico: 45%</p>
                        </div>
                        <div class="col text-center">
                            <p>Draw: 30%</p>
                        </div>
                        <div class="col text-center">
                            <p>Germany: 25%</p>
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar-striped bg-success" role="progressbar" style="width: 45%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                        <div class="progress-bar-striped" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                        <div class="progress-bar-striped bg-danger" role="progressbar" style="width: 25%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <hr/>
                    <h5 class="card-title text-center mt-5">Standings</h5>
                    <p class="text-secondary text-center">Group A</p>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Team</th>
                            <th scope="col">MP</th>
                            <th scope="col">W</th>
                            <th scope="col">D</th>
                            <th scope="col">L</th>
                            <th scope="col">GF</th>
                            <th scope="col">GA</th>
                            <th scope="col">GD</th>
                            <th scope="col">Pts</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">
                                <img src="/img/flags/xs/mx.png" class="img-responsive mr-1 xs-flag" alt="">
                                <span>Mexico</span>
                            </th>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <img src="/img/flags/xs/de.png" class="img-responsive mr-1 xs-flag" alt="">
                                <span>Germany</span>
                            </th>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <img src="/img/flags/xs/sk.png" class="img-responsive mr-1 xs-flag" alt="">
                                <span>South Korea</span>
                            </th>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <img src="/img/flags/xs/se.png" class="img-responsive mr-1 xs-flag" alt="">
                                <span>Sweden</span>
                            </th>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>