<template name="MatchDetail">
  {{#if Template.subscriptionsReady}}
  <div class="container">
    <div class="row">
      <div class="col">
        <h3 class="mb-4">Detail of Match {{matchId}}</h3>
      </div>
      <div class="col">
        {{#if existingBet}}
        <h4 class="float-right">You have already bet {{existingBet.stake}} points on this match.</h4>
        {{else}}
          {{#if notStarted}}
          <button id="bettings" type="button" name="button" class="btn btn-lg btn-primary float-right">Bettings</button>
          {{else}}
            <h4>The game has already started, unable to place bets.</h4>
          {{/if}}
        {{/if}}
      </div>
    </div>
    <div class="row">
      <div class="card col-12 pl-0 pr-0">
        <div class="card-header text-center">
          {{matchInfo.group}}
        </div>
        <div class="card-body">
          <div class="row justify-content-center">
            <div class="col-xs-12 col-md-3 text-center">
              <img src="{{getFlagURL matchInfo.team1.code}}" class="img-responsive mr-1 sm-flag" alt="">
              <div class="match-nation-lg mt-1">{{matchInfo.team1.name}}</div>
            </div>
            <span class="col-xs-12 text-center score">{{getScore matchInfo.score1}}</span>
            <span class="col-xs-12 col-md-2 text-center text-secondary score">vs</span>
            <span class="col-xs-12 text-center score">{{getScore matchInfo.score2}}</span>
            <div class="col-xs-12 col-md-3 text-center">
              <img src="{{getFlagURL matchInfo.team2.code}}" class="img-responsive mr-1 sm-flag" alt="">
              <div class="match-nation-lg mt-1">{{matchInfo.team2.name}}</div>
            </div>
          </div>
          <p class="text-secondary text-center mt-4">{{matchInfo.stadium.name}}</p>
          <p class="text-secondary text-center mt-4">{{matchInfo.date}} at {{convertTime matchInfo.time matchInfo.timezone}}</p>
        </div>
      </div>
    </div>

    <div class="row mt-2">
      <div class="card col-12 pl-0 pr-0">
        <div class="card-body">
          <h5 class="card-title text-center mt-2">Match Odds</h5>
            <div class="row justify-content-center">
                <div class="col text-center">
                    <p>{{matchInfo.team1.name}}: {{odds 'team1'}}</p>
                </div>
                {{#if matchInfo.group}}
                    <div class="col text-center">
                        <p>Draw: {{odds 'draw'}}</p>
                    </div>
                {{/if}}
                <div class="col text-center">
                    <p>{{matchInfo.team2.name}}: {{odds 'team2'}}</p>
                </div>
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: {{oddsAsPercentage 'team1' matchInfo}}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                <div class="progress-bar-striped" role="progressbar" style="width: {{oddsAsPercentage 'draw' matchInfo}}%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: {{oddsAsPercentage 'team2' matchInfo}}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <p class="text-center text-secondary pt-2" style="font-size: .8em;"><em>The progress bar indicates the payout split</em></p>
          {{#if matchInfo.group}}
              <hr/>
              <h5 class="card-title text-center mt-5">Standings</h5>
              <p class="text-secondary text-center">{{matchInfo.group}}</p>
              <table class="table table-striped table-responsive-sm">
                <thead>
                  <tr>
                    <th scope="col">Team</th>
                    <th scope="col">MP</th>
                    <th scope="col">W</th>
                    <th scope="col">D</th>
                    <th scope="col">L</th>
                    <th scope="col">GF</th>
                    <th scope="col">GA</th>
                    <th scope="col">GD</th>
                    <th scope="col">Pts</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each entry in groupStandings}}
                  <tr>
                    <th scope="row">
                      <div class="standings-item">
                        <img src="{{getFlagURL entry.team.code}}" class="img-responsive mr-1 xs-flag" alt="">
                        {{entry.team.name}}
                      </div>
                    </th>
                    <td>{{entry.played}}</td>
                    <td>{{entry.won}}</td>
                    <td>{{entry.drawn}}</td>
                    <td>{{entry.lost}}</td>
                    <td>{{entry.goals_for}}</td>
                    <td>{{entry.goals_against}}</td>
                    <td>{{goal_difference entry.won entry.lost}}</td>
                    <td>{{entry.pts}}</td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
  {{/if}}

  <div id="bettings-modal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Your score: {{playerScore}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h5 class="card-title text-center mt-2">Win Probability</h5>
          <div class="row justify-content-center">
            <div class="col text-center">
              <p>{{matchInfo.team1.name}}: {{odds 'team1'}}</p>
            </div>
            {{#if matchInfo.group}}
                <div class="col text-center">
                  <p>Draw: {{odds 'draw'}}</p>
                </div>
            {{/if}}
            <div class="col text-center">
              <p>{{matchInfo.team2.name}}: {{odds 'team2'}}</p>
            </div>
          </div>
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: {{oddsAsPercentage 'team1' matchInfo}}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                <div class="progress-bar-striped" role="progressbar" style="width: {{oddsAsPercentage 'draw' matchInfo}}%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: {{oddsAsPercentage 'team2' matchInfo}}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          <hr/>
          <div id="betting-buttons" class="row">
            <div class="col">
              <button type="button" name="button" class="btn {{buttonState 'team1'}}" data-bet="team1">{{matchInfo.team1.name}} (W)</button>
              {{#if isReadyToBet 'team1'}}
              <div class="input-group stake-input">
                <div class="input-group-prepend">
                  <span class="input-group-text">Your stake:</span>
                </div>
                <input type="number" class="form-control" id="stake-team1" data-bet="team1" pattern="[0-9]">
              </div>
              <span class="float-right">Potential payout: {{potentialPayout 'team1'}} pts</span>
              {{/if}}
            </div>
            {{#if matchInfo.group}}
                <div class="col">
                  <button type="button" name="button" class="btn {{buttonState 'draw'}}" data-bet="draw">Draw</button>
                  {{#if isReadyToBet 'draw'}}
                  <div class="input-group stake-input">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Your stake:</span>
                    </div>
                    <input type="number" class="form-control" id="stake-draw" data-bet="draw">
                  </div>
                  <span class="float-right">Potential payout: {{potentialPayout 'draw'}} pts</span>
                  {{/if}}
                </div>
            {{/if}}
            <div class="col">
              <button type="button" name="button" class="btn {{buttonState 'team2'}}" data-bet="team2">{{matchInfo.team2.name}} (W)</button>
              {{#if isReadyToBet 'team2'}}
              <div class="input-group stake-input">
                <div class="input-group-prepend">
                  <span class="input-group-text">Your stake:</span>
                </div>
                <input type="number" class="form-control" id="stake-team2" data-bet="team2">
              </div>
              <span class="float-right">Potential payout: {{potentialPayout 'team2'}} pts</span>
              {{/if}}
            </div>
          </div>
        </div>
        {{#if isReadyToSubmit}}
        <div class="modal-footer grey-footer">
          <button id="submit-bets" type="button" class="btn btn-primary btn-lg">Place bet</button>
        </div>
        {{/if}}
      </div>
    </div>
  </div>
</template>
