<template name="Login">
  <video autoplay muted loop id="background-video">
    <source src="/video/brazil_germany.webm" type="video/webm">
  </video>

  <div id="login-panel" class="card">
    <div id="login-heading" class="card-header mb-2">
      <h5 class="text-center mb-0">Stallion Cup</h5>
    </div>
    <div class="panel-body">
      <h6 class="text-center">Please sign {{#if signingUp}} up {{else}} in {{/if}}</h6>
      <label for="inputEmail" class="sr-only">Email address</label>
      {{#if signingUp}}
        <input type="text" id="email" class="form-control mb-2" placeholder="Enter your email" required="" autofocus="">
      {{/if}}
      <input type="text" id="username" class="form-control mb-2" placeholder="Enter your username" required="" autofocus="">
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="password" class="form-control mb-2" placeholder="Enter your password" required="">
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <div class="row">
        {{#if signingUp}}
        <span class="col-12">
          <a id="login-link" href="" class="pull-right" style="color: white">Back to sign in?</a>
        </span>
        {{else}}
        <div class="col">
          <button id="sign-in" class="btn btn-lg btn-primary mb-2">Sign in</button>
        </div>
        {{/if}}
        <div class="col">
          <button id="sign-up" class="btn btn-lg btn-success mb-2">Sign up</button>
        </div>
        {{#if signingUp}}
        
        {{/if}}
      </div>
    </div>
  </div>
</template>
