<template name="GameLobby">
  {{#if Template.subscriptionsReady}}
    <div class="row">
        <div class="col">
            <h2 class="mb-4">Game Lobby</h2>
        </div>
    </div>

    {{#unless isLockedIn}}
    <div class="row">
        {{> TeamSelection}}
    </div>
    {{/unless}}

    <div class="row">
        {{#each player in game.players}}
            <div class="col-md-6 col-xs-12">
                <div class="card mb-2">
                    <h6 class="card-header">{{player.name}} <span class="float-right {{getStatusClass player.status}}">{{player.status}}</span></h6>
                    <div class="card-body">
                        <h5 class="card-title">Drafted Teams</h5>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item d-flex align-items-center">
                              <img src="{{player.seed1.flag}}" class="img-responsive mr-2 xs-flag" alt="">
                              <span class="">{{player.seed1.name}} - Group {{toUpperCase player.seed1.group}}</span>
                          </li>
                          <li class="list-group-item d-flex align-items-center">
                              <img src="{{player.seed2.flag}}" class="img-responsive mr-2 xs-flag" alt="">
                              <span class="">{{player.seed2.name}} - Group {{toUpperCase player.seed2.group}}</span>
                          </li>
                          <li class="list-group-item d-flex align-items-center">
                              <img src="{{player.seed3.flag}}" class="img-responsive mr-2 xs-flag" alt="">
                              <span class="">{{player.seed3.name}} - Group {{toUpperCase player.seed3.group}}</span>
                          </li>
                          <li class="list-group-item d-flex align-items-center">
                              <img src="{{player.seed4.flag}}" class="img-responsive mr-2 xs-flag" alt="">
                              <span class="">{{player.seed4.name}} - Group {{toUpperCase player.seed4.group}}</span>
                          </li>
                        </ul>
                    </div>
                </div>
            </div>
        {{/each}}
        <!-- {{#if allReady}}
             <button type="submit" class="btn btn-primary float-right">Lock-In Game</button>
        {{else}}
        <h6>Waiting for players to lock-in team selections</h6>
        {{/if}} -->
    </div>
    {{/if}}
</template>
