<template name="Leaderboard">
    <div class="row">
        <div class="col">
            <h2 class="mb-4">Leaderboard</h2>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Points</th>
                    <th scope="col">In Play</th>
                </tr>
                </thead>
                <tbody>
                {{#each player in getPlayers}}
                <tr>
                    <th scope="row">1</th>
                    <td>{{player.name}}<span class="text-success"><i class="fas fa-angle-double-up"></i></span></td>
                    <td>{{player.score}}</td>
                    <td>0</td>
                </tr>
                {{/each}}
             <!--    <tr>
                    <th scope="row">2</th>
                    <td>Jacob Mens <span class="text-secondary"><i class="fas fa-angle-double-right"></i></span></td>
                    <td>80</td>
                    <td>30</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry Bird <span class="text-danger"><i class="fas fa-angle-double-down"></i></span></td>
                    <td>60</td>
                    <td>60</td>
                </tr> -->
                </tbody>
            </table>
        </div>
    </div>
</template>