<template name="Leaderboard">
    <div class="row">
        <div class="col">
            <h2 class="mb-4">Leaderboard</h2>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Points</th>
                    <!-- <th scope="col">In Play</th> -->
                </tr>
                </thead>
                <tbody>
                {{#each player in getPlayers}}
                <tr>
                    <th scope="row">{{formatIndex @index}}</th>
                    <td>{{player.name}}</td>
                    <td>{{player.score}}</td>
                </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</template>