<template name="UpcomingMatches">
  {{#if Template.subscriptionsReady}}
    {{#each matchDay in getMatchDays}}
        <h6 class="mt-4">{{matchDay.name}} <em>- {{getMatchDayDate matchDay}}</em></h6>
        <div class="row">
            {{#each match in matchDay.matches}}
                <div class="col-md-4 col-xs-12">
                    <div class="card mt-4">
                        <div class="card-header">
                            {{match.group}}
                        </div>
                        <div class="card-body">
                            <div class="">
                                <img src="{{getFlagURL match.team1.code}}" class="img-responsive mr-1 xs-flag" alt="">
                                <span class="match-nation">{{match.team1.name}}</span>
                                <span>vs</span>
                                <img src="{{getFlagURL match.team2.code}}" class="img-responsive ml-2 mr-1 xs-flag"
                                     alt="">
                                <span class="match-nation">{{match.team2.name}}</span>
                            </div>
                            <p class="text-secondary mb-0 mt-2">{{match.stadium.name}}</p>
                            <p class="text-secondary">Kickoff at {{match.time}}</p>
                            <a href="/match/detail/{{match.num}}" class="btn btn-primary">Match Detail</a>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>

    {{/each}}
    {{/if}}
</template>
