<template name="UpcomingMatches">
    <div class="row">
        <div class="col">
            <h2 class="mb-4">Upcoming Matches</h2>
        </div>
    </div>
    <div class="row">
            {{#each match in getMatches}}
            <div class="col-4">
                <div class="card">
                    <div class="card-header">
                        {{match.stage}}
                    </div>
                    <div class="card-body">
                        <div class="">
                            <img src="/img/flags/xs/{{match.homeFlag}}" class="img-responsive mr-1 xs-flag" alt="">
                            <span class="match-nation">{{match.homeTeam}}</span>
                            <span>vs</span>
                            <img src="/img/flags/xs/{{match.awayFlag}}" class="img-responsive ml-2 mr-1 xs-flag" alt="">
                            <span class="match-nation">{{match.awayTeam}}</span>
                        </div>
                        <p class="text-secondary mb-0 mt-2">{{match.stadium}}</p>
                        <p class="text-secondary">{{match.date}}</p>
                        <a href="/match/detail/{{match.id}}" class="btn btn-primary">Match Detail</a>
                    </div>
                </div>
            </div>
            {{/each}}
    </div>
</template>