<template name="UpcomingMatches">
    <div class="row">
        <div class="col">
            <h2 class="mb-4">Upcoming Matches</h2>
        </div>
    </div>
    <div class="row">
            <div class="col-4">
                <div class="card">
                    <div class="card-header">
                        Group Stage - Matchday 1 of 3
                    </div>
                    <div class="card-body">
                        <div class="">
                            <img src="/img/flags/xs/mx.png" class="img-responsive mr-1 xs-flag" alt="">
                            <span class="match-nation">Mexico</span>
                            <span>vs</span>
                            <img src="/img/flags/xs/mx.png" class="img-responsive ml-2 mr-1 xs-flag" alt="">
                            <span class="match-nation">Mexico</span>
                        </div>
                        <p class="text-secondary mb-0 mt-2">Ekaterinburg Arena</p>
                        <p class="text-secondary">Thursday 14 of June, 16:00</p>
                        <button type="button" class="btn btn-primary matchDetailBtn">Match Detail</button>
                    </div>
                </div>
            </div>
    </div>
</template>