<template name="Games">
  <h1 id='games-title'>{{currentUser.username}}'s Games</h1>
  <div class="container">
      <div class="panel panel-default games-panel">
        <div class="panel panel-heading">
          Games I created
        </div>
        <div class="panel panel-body">
          {{#if noCreatorGames}}
            No games
          {{else}}
            <div class="row">
              {{#each game in creatorGames}}
              <div class="col-xs-12">
                  <button id="{{game.name}}" class="btn btn-primary open-game">{{game.name}}</button>
              </div>
               {{/each}}
            </div>
          {{/if}}
          </div>
          <div class="panel panel-footer">
             <button id="create-new-game" class="btn btn-primary">Create New Game</button>
          </div>
        </div>
      </div>
   <div class="container">
      <div class="panel panel-default games-panel">
        <div class="panel panel-heading">
          Games I'm a member of
        </div>
        <div class="panel panel-body">
          {{#if noMemberGames}}
            No games
          {{else}}
            <div class="row">
              {{#each game in memberGames}}
              <div class="col-xs-12">
                  <button id="{{game.name}}" class="btn btn-primary open-game">{{game.name}}</button>
              </div>
               {{/each}}
            </div>
          {{/if}}
          </div>
          <div class="panel panel-footer">
             <button id="create-new-game" class="btn btn-primary">Create New Game</button>
          </div>
        </div>
      </div>
</template>
