<template name="GameDetail">
    <div class="container">
        <h1>Detail of Game {{gameId}}</h1>
        <hr/>
        <div class="row mt-5 mb-4">
            <div class="col">
                <h2>Players</h2>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#addPlayerModal">
                    Add Player
                </button>
            </div>
        </div>
        {{#each player in getPlayers}}
            <div class="list-group">
                <div class="list-group-item list-group-item-action">
                    <label class="col-7">{{player.name}} <span class="text-secondary"><em> - {{player.email}}</em></span></label>
                    <span class="col-3 {{getStatusClass player.status}}">{{player.status}}</span>
                    <div class="col-2 float-right">
                        <button type="button" class="btn btn-danger removePlayerBtn float-right" data-toggle="modal"
                                data-target="#removePlayerModal"><i class="fas fa-trash"></i></button>
                        {{#if showEmailBtn player.status}}
                            <button type="button" class="btn btn-secondary sendEmailBtn float-right" data-toggle="modal"
                                    data-target="#emailPlayerModal"><i class="fas fa-envelope"></i></button>
                        {{/if}}
                    </div>
                </div>
            </div>
        {{/each}}
        <div class="row mt-5">
            <div class="col">
                <h2>Game Lobby</h2>
            </div>
        </div>
        <div class="row">
            {{#each player in getPlayers}}
            <div class="col-6 mt-4">
                <div class="card">
                    <h6 class="card-header">{{player.name}} <span class="float-right {{getStatusClass player.status}}">{{player.status}}</span></h6>
                    <div class="card-body">
                        <h5 class="card-title">Drafted Teams</h5>
                        <ul class="list-group list-group-flush">
                            {{#each team in player.teams}}
                                <li class="list-group-item d-flex align-items-center">
                                    <img src="/img/flags/xs/{{team.icon}}" class="img-responsive mr-2 xs-flag" alt="">
                                    <span class="">{{team.name}}</span>
                                </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>

        <div class="row mt-5">
            <div class="col">
                <h2>Leaderboard</h2>
                <table class="table table-striped mt-4 mb-4">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">

        </div>
    </div>

    {{>AddPlayer}}
    {{>RemovePlayer}}
    {{>EmailPlayer}}
</template>