<template name="MyGames">
    <div class="container">
         <div class="mt-5">
            <div class="mt-5">
                <h1>My Games</h1>
                 {{#if noGames}}
         		    <div class=col-12>No games to display - Why not create one?</div>
                 {{else}}
                     <div class="row">
                     {{#each game in games}}
                     <div class="col-xs-12 col-md-5 card mb-2 ml-4 mr-2">
                         <div class="card-body">
                             <h5 class="card-title">{{game.name}}</h5>
                             <p class="card-text">Created by: {{game.creator}}</p>
                             <a href="#" id="{{game._id}}" class="btn btn-primary gameDetailBtn">Go to game detail</a>
                         </div>
                     </div>
                     {{/each}}
                     </div>
                {{/if}}
            </div>
        </div>
    </div>
</template>
