<template name="NewGame">
    <div class="container">
        <h1>Create New Game</h1>
        <hr/>
        <form id="new-game">
            <div class="form-group">
                <h2>Name</h2>
                <input type="name" class="form-control" id="name" placeholder="Enter the name of your game room">
            </div>
            <div class="row">
                <div class="col-10">
                    <h2>Players</h2>
                    <small id="playerHelp" class="form-text text-muted">Invite your friends and family to join</small>
                </div>
                <div class="col-2">
                    <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#addPlayerModal">
                        Add Player
                    </button>
                </div>
            </div>
            <div class="form-group">
            {{#each player in getPlayers}}
                <div class="list-group">
                    <div class="list-group-item list-group-item-action">
                        <label>{{player.name}} <span class="text-secondary"><em> - {{player.email}}</em></span></label>
                        <button id="removePlayerBtn" type="button" class="btn btn-danger float-right"><i class="fas fa-trash"></i></button>
                    </div>
                </div>
                {{/each}}
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary float-right">Submit</button>
            </div>
        </form>
    </div>

    {{ >AddPlayer }}
</template>