<template name="HeaderWeb">
  <div class="navbar-header">
    <!-- image -->
  </div>

  <ul id="nav-user" class="nav navbar-nav navbar-right">
    <li class="dropdown">
      <div class="flex-profile-pic navbar-pic" data-toggle="dropdown">
        <!-- image -->
      </div>
      <ul id="user-dropdown" class="dropdown-menu dropdown-content">
        <li>
          <div id="user-name" class="row full-width-row">
            {{currentUser.username}}
          </div>
        </li>
        <li id="logout"><a href="#">Logout</a></li>
      </ul>
    </li>
  </ul>

  <ul id="nav-fixtures" class="nav navbar-nav navbar-right">
    <a href="{{pathFor 'fixtures'}}">Fixtures</a>
  </ul>

  <ul id="nav-scoreboard" class="nav navbar-nav navbar-right">
    <a href="{{pathFor 'scoreboard'}}">Scoreboard</a>
  </ul>

  <ul id="nav-games" class="nav navbar-nav navbar-right">
    <a href="{{pathFor 'games'}}">Games</a>
  </ul>

  <ul id="nav-home" class="nav navbar-nav navbar-right">
    <a href="{{pathFor 'home'}}">Home</a>
  </ul>

</template>
