#plane {
  width: 100%;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom left;
  border: none !important;
}

#plane .content {
  width: 100%;
  float: left;
  font-size: 50px;
  font-weight: 300;
  line-height: 42px;
  text-align: center;
}

#plane .content, footer .content{
  font-size: 70px;
  font-weight: 300;
  line-height: 150px;
}

.badge {
  color: white;
  vertical-align: middle;
  font-size: 30px;
  background-color: rgb(0, 175, 225);
}

#teamMachine {
  margin-top: 20px;
  height: 150px;
  overflow: hidden;
  display: inline-block;
  text-align: left;
}

.well {
  padding: 25px;
  background-color: rgba(245, 245, 245, 0.7);
  border-radius: 5px;
}

.well p {
  font-size:
}
