<template name="Roulette">
  <div id="roulette">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <span>Pick a team</span>
          <button id="roll" type="button" class="btn btn-primary pull-right" style="border-radius: 100%; height: 70px;">Roll <i class="fas fa-dice"></i></button>
        </div>
        <div class="card-body">
          <div class="well content">
            <div id="teamMachine" class="slotMachine">
              {{#each team in teams}}
              <div class="text-center"><img height="100px" src="/img/flags/lg/{{team.iso2}}.png"> {{team.name}}</div>
              {{/each}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-header">
          Game #ID
        </div>
        <div class="card-body">
          <h5 class="card-title">Drafted Teams</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex align-items-center">
                <img src="/img/flags/xs/ad.png" class="img-responsive mr-2 xs-flag" alt="">
                <span class="">Brasil</span>
            </li>
            <li class="list-group-item d-flex align-items-center">
                <img src="/img/flags/xs/ad.png" class="img-responsive mr-2 xs-flag" alt="">
                <span class="">France</span>
            </li>
            <li class="list-group-item d-flex align-items-center">
                <img src="/img/flags/xs/ad.png" class="img-responsive mr-2 xs-flag" alt="">
                <span class="">England</span>
            </li>
            <li class="list-group-item d-flex align-items-center">
                <img src="/img/flags/xs/ad.png" class="img-responsive mr-2 xs-flag" alt="">
                <span class="">Spain</span>
            </li>
          </ul>
        </div>
        <div class="card-footer">
          <button id="submit-teams" type="button" class="btn btn-primary">Submit teams</button>
        </div>
      </div>
    </div>
  </div>
</template>
