<template name="Roulette">
  <div id="plane" class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          Pick a team
        </div>
        <div class="card-body">
          <div class="well content">
            <div id="planeMachine">
              <div class="slotMachineContainer">
                <div class="text-center">
                  England
                </div>
                <div class="text-center">
                  France
                </div>
                <div class="text-center">
                  Mexico
                </div>
                <div class="text-center">
                  Spain
                </div>
                <div class="text-center">
                  Brasil
                </div>
                <div class="text-center">
                  Germany
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button id="shuffle" type="button" class="btn btn-primary">Shuffle</button>
          <button id="stop" type="button" class="btn btn-secondary">Stop</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-header">
          Selected teams
        </div>
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item">Brasil</li>
            <li class="list-group-item">Spain</li>
            <li class="list-group-item">France</li>
            <li class="list-group-item">Mexico</li>
          </ul>
        </div>
        <div class="card-footer">
          <button id="submit-teams" type="button" class="btn btn-primary">Submit teams</button>
        </div>
      </div>
    </div>
  </div>
</template>
